
.nav {
    grid-area: n;
    background-color: orange;
}

.itHem a {
    color: white;
    text-decoration: none;
}

.itHem {
   /* list-style-type: none;*/
    margin: 0.8rem;
}

.heaDitHem a:hover,
.heaDitHem a:active,
.heaDitHem a.active {
    color: #d06821
}
.servitHem1 a {
    color: white;
    text-decoration: none;
    margin: 0.8rem;
    font-size: 2rem;
}
.servitHem2 a {
text-align: center;
    font-size: 0.8rem;
    color: mediumvioletred;
    text-decoration: none;

}
.servitHem2,.servitHem1 a {
    display: table-row;
    horiz-align: center;
    height: 1rem;
    width: 0.7rem;
}
