
.nav {
    grid-area: n;
    background-color: orange;

}

.ithem a.active {
    color: blue;
}
.ithem a {
    color: white;
}

.ithem {
    list-style-type: none;
    margin: 10px 0;
}


.ithem a:hover,
.ithem a:active,
.ithem a.active {
    color: blue;
}
