
.nav {
    grid-area: n;
    background-color: orange;

}

.ithem a.active {
    color: blue;
}
.ithem a {
    color: white;
    text-decoration: none;
}

.ithem {
    list-style-type: none;
    margin: 0.8rem;
}

.ithem a:hover,
.ithem a:active,
.ithem a.active {
    color: blue;
}
.headithem .active {
    color: red;
}