
.img1profile {
    width: 20%;
    height:10%;
    border-radius: 10%;

    background: #8e8e8e; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 2px;

}

.input{
    padding-top: 1rem;
}

.p {
    padding: 3.5rem;
}



.formaprof {

    padding-left: 1rem;
}