.app-wrapper {
  width: 100%;
  margin: 64px auto;
  display: grid;
  grid-template-rows: 60px 2fr;
  grid-template-columns: 1fr 10fr;
  grid-template-areas:
"a a a"
"a a a";
  grid-gap: 4px;
}


.app-wrapper-content {
  grid-area: a;
  /*text-align: center;*/
}


.error1 {
  color: red;
  font-size: 3rem;
}







