.app-wrapper {
  width: 98%;
  margin: 63px auto;
  display: grid;
  grid-template-areas:
"n c c"
"n c c";
  grid-template-rows: 60px 2fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 4px;
}



.error1 {
  color: red;
  font-size: 3rem;
}







