.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: blueviolet;

}
.dialogs a {
    text-decoration: none;
    padding: 0.3rem;
}


.dialogIthem a:hover,
.dialogIthem a:active,
.dialogIthem a.active {
    color: red;

}

